// $color-blue:#2196F3;
// $color-background: #2F303A;
// $color-black: #000000;
// $color-section-command: #F5F4FA;
// $color-section-hero: #ECECEC;
// $color-footer-info: #FFFFFF;
// $color-h: #212121;
// $color-p: #757575;
$color-black: #212121;
$color-white: #FFFFFF;
$color-grey: #757575;
$color-portfolio-listo-utline: #EEEEEE;
$color-blue: #2196F3;
$color-background-button: #F5F4FA;
$color-webstudio: 000000;
$color-footer-info: #FFFFFF;
$color-footer: #2F303A;
$color-header-outline: ECECEC;